@model theMINIclassy.Models.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.OrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OrderStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.OriginatedFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OriginatedFrom)
        </dd>
        @*@if (Model.PQuantities != null)
        {
            <dt>Product(s)</dt>
            @foreach (var item in Model.PQuantities)
            {
                if (item.ProductId == Model.Product.Id)
                {
                    @foreach (var x in Model.Fabrics)
                    {
                        if (x.Id == item.FabricId)
                        {
                            <dd>@item.QtyFabricOnProduct <strong>yards of</strong> @x.Title | <a asp-controller="ProductFabricQuantities" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-controller="ProductFabricQuantities" asp-action="Delete" asp-route-id="@item.Id">Delete</a></dd>
                        }
                    }
                }
            }
        }*@
        @if (Model.PQuantities != null)
        {
            <dt>Product(s)</dt>
            @foreach (var item in Model.PQuantities)
            {
                if (item.OrderId == Model.Order.Id)
                {
                    foreach (var x in Model.Products)
                    {
                        if (x.Id == item.ProductId)
                        {
                        <dd>
                            @item.QtyProductOnOrder <strong> of </strong> @x.Title |

                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {<text>
                            <a asp-controller="ProductQuantities" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="ProductQuantities" asp-action ="Delete" asp-route-id ="@item.Id">Delete</a>
                                       </text> }
                        </dd>
                            }
                        }
                    }
                }
            }
    </dl>
    <br />
    </div>
    <div>
        <a asp-controller="ProductQuantities" asp-action="Create" asp-route-id="@Model.Order.Id"><h5>ADD PRODUCT ITEM & QUANTITY</h5></a>
    </div>



    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Order.Id">Make Changes | </a>
    }
    <a asp-action="Index">Back to List</a>
</div>
