@model theMINIclassy.Models.ManageViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ImagePath)
        </dt>
        <dd>

            <img src="@Model.Product.ImagePath" width="300" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.MinThreshold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.MinThreshold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.SKU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.SKU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.TechPackPath)
        </dt>
        <dd>

            
                <img src="@Model.Product.TechPackPath" width="300"/>

            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        @if (Model.PFQuantities != null)
        {
            <dt>Fabric(s)</dt>
            @foreach (var item in Model.PFQuantities)
            {
                if (item.ProductId == Model.Product.Id)
                {
                    @foreach (var x in Model.Fabrics)
                    {
                        if (x.Id == item.FabricId)
                        {
                            if(User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {


                            <dd>@item.QtyFabricOnProduct <strong>yards of</strong> @x.Title | <a asp-controller="ProductFabricQuantities" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-controller="ProductFabricQuantities" asp-action="Delete" asp-route-id="@item.Id">Delete</a></dd>
                            }
                            else
                            {
                                <dd>@item.QtyFabricOnProduct <strong>yards of</strong> @x.Title </dd>


                            }
                        }
                    }
                }
            }
        }
        @if (Model.PNQuantities != null)
        {
            <dt>Notion(s)</dt>
            @foreach (var item in Model.PNQuantities)
            {
                if (item.ProductId == Model.Product.Id)
                {
                    @foreach (var x in Model.Notions)
                    {
                        if (x.Id == item.NotionId)
                        {
                            if(User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {


                            <dd>@item.QtyNotionOnProduct <strong>of</strong> @x.Title | <a asp-controller="ProductNotionQuantities" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-controller="ProductNotionQuantities" asp-action="Delete" asp-route-id="@item.Id">Delete</a></dd>
                            }
                            else
                            {
                                <dd>
                                    @item.QtyNotionOnProduct <strong>of</strong> @x.Title</dd>

                                    }
                                    }
                                    }
                                    }
                                    }
                                    }
                                    @if (Model.PLQuantities != null)
                                    {
<dt>Label(s)</dt>
            @foreach (var item in Model.PLQuantities)
            {
                if (item.ProductId == Model.Product.Id)
                {
                            
                    @foreach (var x in Model.Labels)
                    {
                        if (x.Id == item.LabelId)
                        {

                            if(User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {

                            <dd>@item.QtyLabelOnProduct <strong>of</strong> @x.Title | <a asp-controller="ProductLabelQuantities" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-controller="ProductLabelQuantities" asp-action="Delete" asp-route-id="@item.Id">Delete</a></dd>
                            }
                            else
                            {
                                <dd>
                                    @item.QtyLabelOnProduct <strong>of</strong> @x.Title</dd>

                                    }
                                    }
                                    }
                                    }
                                    }
                                    }
                                    @if (Model.PTQuantities != null)
                                    {
<dt>Tag(s)</dt>
            @foreach (var item in Model.PTQuantities)
            {
                if (item.ProductId == Model.Product.Id)
                {
                    @foreach (var x in Model.Tags)
                    {
                        if (x.Id == item.TagId)
                        {

                            if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {

                            <dd>@item.QtyTagOnProduct <strong>of</strong> @x.Title | <a asp-controller="ProductTagQuantities" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-controller="ProductTagQuantities" asp-action="Delete" asp-route-id="@item.Id">Delete</a></dd>
                            }
                            else
                            {
        <dd>
            @item.QtyTagOnProduct <strong>of</strong> @x.Title </dd>
                            }
                        }
                    }
                }
            }
                                    }
</dl>
</div>
<br />
<br />
<br />
<div>
    @if(User.IsInRole("Admin") || User.IsInRole("Manager"))
    { 
    <a asp-controller="ProductFabricQuantities" asp-action="Create" asp-route-id="@Model.Product.Id"><h5>ADD FABRIC & QUANTITY</h5></a>
    <a asp-controller="ProductNotionQuantities" asp-action="Create" asp-route-id="@Model.Product.Id"><h5>ADD NOTION & QUANTITY</h5></a>
    <a asp-controller="ProductLabelQuantities" asp-action="Create" asp-route-id="@Model.Product.Id"><h5>ADD LABEL & QUANTITY</h5></a>
    <a asp-controller="ProductTagQuantities" asp-action="Create" asp-route-id="@Model.Product.Id"><h5>ADD TAG & QUANTITY</h5></a>
    }
</div>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Product.Id">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript" src="~/js/custom.js"></script>
