@model theMINIclassy.Models.ManageViewModels.PatPieceViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Variation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Variation.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Variation.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Variation.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Variation.Title)
        </dd>
        @if (Model.PatPieceVariations != null)
        {
            <dt>Pattern Piece(s)</dt>
            @foreach (var item in Model.PatPieceVariations)
            {
                foreach (var x in Model.PatPieces)
                {
                    if (x.Id == item.PatPieceId)
                    {
                        <dd>@x.Title | <a asp-controller="PatPieceVariations" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-controller="PatPieceVariations" asp-action="Delete" asp-route-id="@item.Id">Delete</a></dd>
                    }

                }
            }
        }


    </dl>
</div>


<div>
    <a asp-controller="PatPieceVariations" asp-action="Create" asp-route-id="@Model.Variation.Id"><h5>ADD PATTERN PIECE</h5></a>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Variation.Id">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</div>

    </dl>

</div>
