@model IEnumerable<theMINIclassy.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-controller="Addresses" asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-controller="Addresses" asp-action="Details" asp-route-id="@item.AddressId">View Address</a>
            </td>
            <td>
                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                }

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">| Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
