@model theMINIclassy.Models.SupplyViewModel

@{
    ViewData["Title"] = "SupplyInventory";
}

<h2>Supply Inventory</h2>



    <p>
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
        <input type="reset" value="Reset" onClick="Reset()" />
    </p>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Type", "SupplyInventory", new { sortOrder = ViewBag.TypeSortParm })
                </th>
                <th>       
                    @Html.ActionLink("Title", "SupplyInventory", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Quantity", "SupplyInventory", new { sortOrder = ViewBag.QuantSortParm })
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Supplies != null)
            {
                foreach (var item in Model.Supplies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            <a asp-controller="@item.Type" asp-action="EditQuantity" asp-route-id="@item.Id">Change Stock Quantity</a> |
                            <a asp-controller="@item.Type" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
<script type="text/javascript">
    function Reset() {
        document.getElementById("form").reset();
    }

</script>