@model theMINIclassy.Models.SupplyViewModel

@{
    ViewData["Title"] = "SupplyInventory";
}

<h2>Supply Inventory</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Title
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>

@if (Model.Supplies != null)
{
    foreach (var item in Model.Supplies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-controller="@item.Type)" asp-action="EditQuantity" asp-route-id="@item.Id">Change Stock Quantity</a> |
                <a asp-controller="@item.Type)" asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
    }
}
    </tbody>
</table>
